@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(236deg, #B5B2C2, #FFE8E1);
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.calculator {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.display {
  font-size: 30px;
  font-weight: lighter;
  padding-top: 14px;
  padding-right: 15px;
  text-align: right;
  color: white;
  height: 60px;
  background-color: #293132;
}

  button {
  padding: 10px 15px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
}
.keys {
  background-color: #999;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}
.keys > * {
  background-color: #fff;
  position: relative;
  text-align: center;
}

.equals {
  grid-row: 2 / 6;
  grid-column: 4 / 5;
}

.divide, .add, .subtract, .multiply {
  grid-row: 1;
  background-color: #D0FFD6;
}
.equals {

 background-color: #FFB563
}

.clear {
  grid-column: 3 / 4;
}

.decimal {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
